[submodule "MojoShader"]
	path = MojoShader
	url = https://github.com/icculus/mojoshader
	branch = upstream
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "DirectX-Headers"]
	path = DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
