*.a
*.o
*.so*
*.dll
*.dylib
.vs/
obj/
Debug/
Release/
*.vcxproj.user
*.suo
.DS_Store
xcuserdata/
*.xcworkspace/
.vscode/

CMakeFiles/
.editorconfig
cmake_install.cmake
CMakeCache.txt
compile_commands.json
initvk.test
Makefile

build/
FNA3DMinimal/
