[submodule "MojoShader"]
	path = MojoShader
	url = https://github.com/icculus/mojoshader
	branch = main
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
